<h2 class="text-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="center-align-form">
    <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "email" %>
    </div>

   <div class="field">
    <%= f.label :dob %><br />
   <%= f.text_field :dob, autofocus: true, autocomplete: "email" %>
   </div>

     <div class="field">
    <%= f.label :mob_number %><br />
    <%= f.text_field :mob_number, autofocus: true, autocomplete: "email" %>
     </div>

    <div class="field">
     <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
   <div class="field ">
    <%= f.label :password%><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    
    <%= f.password_field :password, autocomplete: "new-password"  %>
    </div>

   <div class="field ">
    <%= f.label :password_confirmation%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

   </div>

   <div class="actions">
    <%= f.submit "Sign up" %>
   </div>
    <% end %>

  </div>
<center>
<%= render "devise/shared/links" %>
</center>