<%= form_with(model: author, local: true) do |form| %>
<% if author.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

  <ul>
    <% author.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="center-align-form">
  <div class="field form-group row ">
    <%= form.label :firstname, :class=> "col-lg-3 col-form-label col-form-label-lg" %>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :firstname, :class => "form-control" %>
    </div>
  </div>

  <div class="field form-group row ">
    <%= form.label :lastname, :class=> "col-lg-3 col-form-label col-form-label-lg" %>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :lastname, :class => "form-control" %>
    </div>
  </div>

  <div class="field form-group row ">
    <%= form.label :email, :class=> "col-lg-3 col-form-label col-form-label-lg" %>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :email, :class => "form-control" %>
    </div>
  </div>

  <div class="field form-group row ">
    <%= form.label :City, :class=> "col-lg-3 col-form-label col-form-label-lg" %>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :City,:class => "form-control" %>
    </div>
  </div>

  <div class="field form-group row ">
    <%= form.label :State, :class=> "col-lg-3 col-form-label col-form-label-lg"%>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :State, :class => "form-control" %>
    </div>
  </div>
  <hr>
  <h3 class="text-center"> Posts</h3>
  <%= form.fields_for :posts do |p|%>

  <div class="field form-group row ">
    <%= p.label :title, :class=> "col-lg-3 col-form-label col-form-label-lg" %>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= p.text_field :title,:class => "form-control" %>
    </div>
  </div>

  <div class="field form-group row ">
    <%= p.label :post_content, :class=> "col-lg-3 col-form-label col-form-label-lg" %>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= p.text_field :post_content,:class => "form-control" %>
    </div>
  </div>

  <% end %>

  <div class="center-align-form">
    <div class="actions">
      <%= form.submit class: "btn btn-primary text-white" %>
    </div>
  </div>

</div>
<% end %>