

<div class="text-center">
  <h1>Authors</h1>
  <div class="center-align">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>City</th>
          <th>State</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @authors.each do |author| %>
        <tr>
          <td class="author_name"><%= author.firstname %></td>
          <td><%= author.lastname %></td>
          <td><%= author.email %></td>
          <td><%= author.City %></td>
          <td><%= author.State %></td>
          <td><%= link_to ' ', author, class:"fa fa-address-book btn btn-info"%></td>
          <td><%= link_to ' ', edit_author_path(author), class:"fa fa-edit btn btn-primary" %></td>
          <td><%= link_to ' ', author, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-trash-o btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="text-center">
<%= link_to 'New Author', new_author_path, class:"btn btn-primary text-white" %>
</div>