<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="user-form-container">
  <div class="field form-group row ">
    <%= form.label :username, :class=> "col-lg-3  col-form-label col-form-label-lg" %>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :username, :class => "form-control"%>
    </div>
  </div>


  <div class="field form-group row">
    <%= form.label :email, :class=> "col-lg-3 col-form-label col-form-label-lg" %>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :email, :class => "form-control "%>
    </div>
  </div>


  <div class="field form-group row ">
    <%= form.label :Date_of_birth, :class=>"col-lg-3 col-form-label col-form-label-lg"%>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :dob, :class => "form-control datepicker"%>
    </div>
  </div>

  <div class="field form-group row ">
    <%= form.label :Mobile_number, :class=>"col-lg-3 col-form-label col-form-label-lg"%>
    <div class="col-lg-4 col-md-10 input-text-border">
      <%= form.text_field :mob_number, :class => "form-control",:id=>"colFormLabelLg"%>
    </div>
  </div>



  <div class="actions">
    <%= form.submit class: "btn btn-danger"%>
  </div>

</div>
<% end %>


<script>
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });
</script>