
<div class="text-center">
<h1>Users</h1>
<div class="center-align">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>DOB</th>
      <th>Mobile</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.dob %></td>
        <td><%= user.mob_number %></td>
        <td><%= link_to ' ', user, class:"fa fa-address-book btn btn-info" %></td>
        <td><%= link_to ' ', edit_user_path(user), class:"fa fa-edit btn btn-primary" %></td>
        <td><%= link_to ' ', user, method: :delete, data: { confirm: 'Are you sure?' },class:"fa fa-trash-o btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>
<div class="text-center">
<%= link_to 'New User', new_user_path, class:"btn btn-primary text-white"%>
</div>
