

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Date_of_Birth:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Mob_number:</strong>
  <%= @user.mob_number %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path,class: "btn btn-primary text-white"%>
