<div class="text-center">
  <h1>Posts</h1>
  <div class="center-align">
    <table class="table table-bordered" id="posts_table">
      <thead>
        <th>Title</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.post_content %></td>
          <td><%= link_to ' ', post, class:"fa fa-address-book btn btn-info" %></td>
          <td><%= link_to ' ', edit_post_path(post), class:"fa fa-edit btn btn-primary" %></td>
          <td><%= link_to ' ', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-trash-o btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="text-center">
  <%= link_to 'New Post', new_post_path, class:"btn btn-primary text-white" %>
</div>


<script>
  $(document).ready(function() {
    $('#posts_table').DataTable({

    });
  });
</script>