<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.post_content %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary text-white" %> |
<%= link_to 'Back', posts_path, class:"btn btn-primary text-white" %>
