@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";
//add customs scss files below
@import "authors";
@import "users";
@import "bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css";


.log-out-list-item{
    margin-left: 700%;
    margin-top: 5px;
}
 
.center-align-form{
    margin-left: 500px;
  } 
