// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center-aligns{
    margin-left: 200px;
    margin-right: 200px;
  }

.center-align-form{
    margin-left: 400px;
  }
