// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center-align{
    margin-left: 400px;
    margin-right: 400px;
  }