// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-form-container{

    margin-left: 360px;
}

.back-btn{
    position: relative;
    left: 360px;
}

.heading-form{
    text-align: center;
    line-height: 2;
}

.center-align{
    margin-left: 300px;
    margin-right: 300px;
  }

